.card {
  width: 17rem;
  border: #FFA559 solid 5px;

  padding: 10px;
  background-color: rgb(179, 179, 179);
  color: black;
  /* float: right; */
  border-radius: 27px;
  height: 100%;
  font-family: 'Times New Roman', Times, serif;
}

.card:hover {
  background: white;
  color: black;
  border: #fa8423 solid 5px;
}


.card img {
  height: 185px;
  width: 100%;
  border-radius: 22px;
}


p.card_text {
  font-size: 17px;
}

#enroll {
  width: 25%;
  padding: 3px;
  border-radius: 10px;
}

#enroll:hover {
  background-color: #fcb57a;
}


.right_indexx {
  margin-top: 35px;
  margin-bottom: 740px;
  margin-left: 49px;
}

.index_content {
  padding: 50px;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  float: left;
}