.routineform_container_bg {
    height: 98vh;
    background-color: #292b2e;
}

.routineform_container {
    border-radius: 25px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.436);
    width: 500px;
    padding: 20px;

}

form.routine_form {
    /* padding-left: 31%; */
    /* padding-top: 55px; */
    /* padding-bottom: 35px; */
    margin-left: 377px;
}

.transparent_textarea {
    background-color: white;
    color: #000000;
}

.routineform_container table tr td {
    padding-left: 10px;
    padding-right: 10px;
}

.routineform_container textarea {
    width: 100%;
    border-radius: 5px;
}

.routineform_container div label {
    font-size: 20px;

}

input#routine_form_inp {
    width: 500px;
}

input.detail_botton {
    width: 22%;
}

input.detail_botton:hover {
    color: white;
    background: #666565;
}




/* ------------------------------routine detail css---------------------- */
#routine_right {
    text-align: justify;
    color: rgb(255, 250, 250);
    width: 85%;
    /* height: 100vh; */
    /* height: 723px; */
    background-color: #292b2e;
    float: right;
}

.father_li_class {
    padding-top: 5%;
    padding-right: 20%;
    padding-left: 13%;
    padding-bottom: 5%;
    background-color: #292b2e !important;
    /* height: 100%; */
}

.li_class {
    background-color: #292b2e !important;
    margin-bottom: 373px;
}

.li2_class {
    font-size: 20px;
    background-color: #bdbdd733;
    padding: 40px;
    border: #FFA559 solid 5px;
    border-radius: 20px;
    width: 880px;
    /* margin-left: 290px; */
}

.li2_class_a {
    font-size: 20px;
    background-color: #bdbdd733;
    padding: 40px;
    border: #FFA559 solid 5px;
    border-radius: 20px;
    width: 880px;
    margin-left: 183px;
}

.li2_class_a div strong {
    font-size: 30px;
    /* display: block; */
    color: #FFA559;
}

.li2_class div {
    padding-top: 20px;
}


.li2_class div strong {
    font-size: 30px;
    display: block;
    color: #FFA559;
}

.routine_btn {
    width: 50%;
    float: left;
}



input#rr {
    padding: 5px;
    border-radius: 10px;
    border: solid #acacac 1.5px;
    background-color: rgb(83 87 94);
    color: #ffffff;
}

input#rr:hover {
    background-color: #acacac;
    color: black;
    transition: 30px;
    ;
}